node_modules

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release